# Unity'nin otomatik oluşturduğu ve repoda OLMAMASI gereken klasörler
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# IDE ve derleme dosyaları (VS, Rider, VS Code)
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D meta dosyaları (Sadece derlenmiş olanlar)
*.pidb.meta
*.pdb.meta
*.mdb.meta

# İşletim sistemi kalıntıları
.DS_Store
Thumbs.db